{% extends 'shired/_loyout.html' %}
{% load poll_extras %}
{% load render_partial %}
{% block title %}
    لیست مقالات
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن اخبـار</h2>
                        {#                                        		{{ date }}#}
                        {#                    {{ 'sajad'|cut:'s' }}#}
                        {% for item in article %}
                            <div class="single-blog-post">
                                <h3>{{ item.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        {% if item.auther is not None %}
                                            <li><i class="fa fa-user"></i> {{ item.auther }}</li>
                                        {% endif %}
                                        {#									<li><i class="fa fa-clock-o"></i>{{ item.get_jalali_create_time }}</li>#}
                                        {#									<li><i class="fa fa-calendar"></i>{{ item.get_jalali_create_date }}</li>#}
                                        <li><i class="fa fa-clock-o"></i>{{ item.get_jalali_create_time }}</li>
                                        <li>
                                            <i class="fa fa-calendar"></i>{{ item.create_date | get_jalali_create_date }}
                                        </li>
                                    </ul>
                                    <span>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
								</span>
                                </div>
                                <a href="">
                                    {#								<img src="{{ item.img.url }}" alt="">#}
                                    {% thumbnail item.img "862x398" crop='center' quality=90 as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </a>
                                <p>
                                    {{ item.short_description }}
                                </p>
                                <a class="btn btn-primary" href="{% url 'article-category-detail' pk=item.pk %}">ادامـه
                                    مطلب</a>
                            </div>
                        {% endfor %}
                        <div class="pagination-area">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    <li><a class="{% if page_obj.number == page %} active {% endif %}"
                                           href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% render_partial 'article_module.views.article_category_partial' %}
            </div>
        </div>
    </section>
{% endblock %}